@use 'variables' as v;
@use 'mixins' as m;
@use 'functions' as f;

.section__feature {

    background-color: v.$gray-100;
    padding-inline: f.space(1);
    padding-block: f.space(16);

    .feature {

        &__title {
            font-size: f.multiply_rem_size_by(2);
            font-weight: v.$font-weight-small;
            margin-block-end: f.space(4.5);

            @include m.device-up('md') {
                font-size: f.multiply_rem_size_by(3);
            }
        }

        &__description {
            font-size: f.multiply_rem_size_by(0.7);
            font-weight: v.$font-weight-large;
            margin-block-end: f.space(3);
            color: v.$gray-600;

            @include m.device-up('md') {
                font-size: f.multiply_rem_size_by(1.1);
                font-weight: v.$font-weight-normal;
                max-width: 60%;
                margin-block-end: f.space(6);
            }
        }


        &__content {
            display: grid;
            padding-inline: f.space(1);

            @include m.device-up('lg') {
                grid-template-columns: repeat(2, 1fr);
                gap: f.space(7);
            }

            @include m.device-up('xl') {
                grid-template-columns: repeat(4, 1fr);
            }

            .card {
                margin-block-start: f.space(9);

                &__image {
                    margin-block-end: f.space(10);

                    @include m.device-up('md') {
                        margin-block-end: f.space(8);

                    }
                }

                &__title {
                    font-size: f.multiply_rem_size_by(1.4);
                    font-weight: v.$font-weight-small;
                    margin-block-end: f.space(6);

                    @include m.device-up('md') {
                        font-size: f.multiply_rem_size_by(1.6);
                        min-height: 4rem;
                        margin-block-end: f.space(2);
                    }
                }

                &__description {
                    font-size: f.multiply_rem_size_by(0.7);
                    font-weight: v.$font-weight-large;
                    color: v.$gray-600;

                    @include m.device-up('md') {
                        font-size: f.multiply_rem_size_by(0.97);
                        line-height: 1.7;
                        font-weight: v.$font-weight-normal;
                        margin-block-end: f.space(6);
                    }
                }
            }
        }
    }
}