@use 'variables' as v;
@use 'mixins' as m;
@use 'globals' as g;
@use 'functions' as f;
@use 'animations' as a;

.footer {
    background-color: v.$blue-950;
    padding-block: f.space(7);

    @include m.device-up('md') {
        padding-block: inherit;
    }

    &__nav {
        padding-block: f.space(6);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        @include m.device-up('md') {
            padding-block: f.space(10);
            justify-content: space-between;
            flex-direction: row;
        }
    }

    &__links {

        margin-block-start: f.space(6);

        @include m.device-up('md') {
            margin-block-start: f.space(10);
        }

        >a {
            margin-inline: 5px;
        }
    }

    &__menu {
        margin-block: f.space(6);

        @include m.device-up('md') {
            margin-block: 0;
            margin-inline-end: f.space(55);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, auto);
            grid-auto-flow: column;
            column-gap: f.space(30);
            text-align: start;
        }

        li {
            list-style-type: none;

            @include m.device-up('md') {
                color: v.$gray-50;
                font-size: f.multiply_rem_size_by(0.875);
                font-weight: v.$font-weight-normal;

                &:not(:last-child) {

                    margin-inline-end: f.space(4);

                    @include m.device-up('lg') {
                        margin-inline-end: f.space(8);
                    }
                }
            }


            a {
                cursor: pointer;
                display: block;
                font-weight: v.$font-weight-normal;
                color: v.$gray-100;
                font-size: small;
                text-decoration: none;
                padding-block: f.space(4);

                &:hover,
                &:focus {
                    color: v.$green-500;
                    opacity: 0.7;
                    text-decoration: underline;

                    @include m.device-up('md') {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    &__cta {

        button {
            display: block;
            padding: f.space(3.5) f.space(8);
            background-image: linear-gradient(20deg, v.$cyan-400, v.$green-500);
            border-radius: 50px;
            border: none;
            background-color: transparent;
            color: v.$gray-100;
            font-weight: v.$font-weight-large;
            margin-inline: auto;

            @include m.device-up('md') {
                margin-inline-end: 0;
            }

            &:hover {
                cursor: pointer;
                background-image: linear-gradient(20deg, lighten(v.$cyan-400, 20%), lighten(v.$green-500, 20%));
            }
        }

        p {
            color: v.$gray-600;
            font-size: f.multiply_rem_size_by(0.8);
            margin-block-start: f.space(6);

            @include m.device-up('md') {
                margin-inline-start: auto;
            }
        }
    }
}