@use 'variables' as v;
@use 'sass:list' as list;

// return margin in rem
@function generate_margin_rem($size) {
    @return v.$base_size_rem * $size;
}

// return padding in rem
@function generate_padding_rem($size) {
    @return v.$base_size_rem * $size;
}
