@use 'variables' as v;
@use 'mixins' as m;
@use 'functions' as f;
@use 'sass:map' as map;


html {
    box-sizing: border-box;
}

.container-fluid {
    width: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: v.$gray-50;
    margin: 0;
    padding: 0;
    font-family: v.$base_font, v.$backup_font;
    line-height: 1.3;
    font-size: clamp(1.00rem, calc(0.868rem + 0.658vw), 1.50rem);
}

.section {
    width: 100%;
}

.container {
    max-width: 1160px;
    border: 1px solid;
    margin-inline: auto;
    padding-inline: f.generate_padding_rem(6);
}

.no-scroll {
    overflow: hidden;
}

h1 {
    margin: 0;
}

// utility classes
.flex {
    display: flex;

    &-justify {
        &-between {
            justify-content: space-between;
        }

        &-around {
            justify-content: space-around;
        }

        &-center {
            justify-content: center;
        }

        &-evenly {
            justify-content: space-evenly;
        }
    }

    &-align {
        &-center {
            align-items: center;
        }
    }
}

.block {
    display: block;
}

.m {
    &-1 {
        margin: f.generate_margin_rem(1);
    }

    &t {
        &-1 {
            margin-top: f.generate_margin_rem(1);
        }
    }

    &b {
        &-1 {
            margin-bottom: f.generate_margin_rem(1);
        }
    }

    &s {
        &-1 {
            margin-inline-start: f.generate_margin_rem(1);
        }

        &-2 {
            margin-inline-start: f.generate_margin_rem(2);
        }

        &-3 {
            margin-inline-start: f.generate_margin_rem(3);
        }

        &-4 {
            margin-inline-start: f.generate_margin_rem(4);
        }

        &-5 {
            margin-inline-start: f.generate_margin_rem(5);
        }
    }

    &e {
        &-1 {
            margin-inline-end: f.generate_margin_rem(1);
        }

        &-2 {
            margin-inline-end: f.generate_margin_rem(2);
        }

        &-3 {
            margin-inline-end: f.generate_margin_rem(3);
        }

        &-4 {
            margin-inline-end: f.generate_margin_rem(4);
        }

        &-5 {
            margin-inline-end: f.generate_margin_rem(5);
        }
    }
}

.p {
    &-6 {
        padding: f.generate_padding_rem(6);
    }

    &t {
        &-4 {
            padding-top: f.generate_padding_rem(4);
        }
    }

    &b {
        &-1 {
            padding-bottom: f.generate_padding_rem(1);
        }

        &-4 {
            padding-bottom: f.generate_padding_rem(4);
        }

        &-6 {
            padding-bottom: f.generate_padding_rem(6);
        }
    }

    &s {
        &-2 {
            padding-inline-start: f.generate_padding_rem(2);
        }

        &-3 {
            padding-inline-start: f.generate_padding_rem(3);
        }

        &-4 {
            padding-inline-start: f.generate_padding_rem(4);
        }

        &-6 {
            padding-inline-start: f.generate_padding_rem(6);
        }

        &-8 {
            padding-inline-start: f.generate_padding_rem(8);
        }

        &-41 {
            padding-inline-start: f.generate_padding_rem(41);
        }
    }

    &e {

        &-2 {
            padding-inline-end: f.generate_padding_rem(2);
        }

        &-3 {
            padding-inline-end: f.generate_padding_rem(3);
        }

        &-4 {
            padding-inline-end: f.generate_padding_rem(4);
        }

        &-6 {
            padding-inline-end: f.generate_padding_rem(6);
        }

        &-8 {
            padding-inline-end: f.generate_padding_rem(8);
        }
    }
}

@each $breakpoint, $size in v.$breakpoint_map {
    .container-#{$breakpoint} {
        @include m.device-up($breakpoint) {
            width: 100%;
            max-width: calc($size - 2rem);
            margin-inline: auto;
        }
    }
}