@use 'variables' as v;
@use 'mixins' as m;
@use 'functions' as f;
@use 'sass:map' as map;


html {
    box-sizing: border-box;
}

.container-fluid {
    width: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: v.$gray-50;
    margin: 0;
    padding: 0;
    font-family: v.$base_font, v.$backup_font;
    line-height: 1.3;
    font-size: clamp(1.00rem, calc(0.868rem + 0.658vw), 1.50rem);
}

ul {
    padding: 0;
    margin: 0;
}

.section {
    width: 100%;
}

.container {
    max-width: 1440px;
    margin-inline: auto;
    border: 1px solid #000;
    padding-inline: f.generate_padding_rem(6);


    @include m.device-up('xl') {
        padding-inline: f.generate_padding_rem(41);
    }

}

.no-scroll {
    overflow: hidden;
}

h1 {
    margin: 0;
}

a {
    line-height: 0;
}

// utility classes
@each $breakpoint, $size in v.$breakpoint_map {
    .container-#{$breakpoint} {
        @include m.device-up($breakpoint) {
            width: 100%;
            max-width: calc($size - 2rem);
            margin-inline: auto;
        }
    }
}