@use 'variables' as v;

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    line-height: 1.3;
}

// utility classes
.flex {
    display: flex;

    &-justify {
        &-between {
            justify-content: space-between;
        }

        &-around {
            justify-content: space-around;
        }

        &-center {
            justify-content: center;
        }

        &-evenly {
            justify-content: space-evenly;
        }
    }

    &-align {
        &-center {
            align-items: center;
        }
    }
}

.block {
    display: block;
}

// making margin and padding

@each $name,$alias in v.$spacing_names {

    @each $item in v.$spacing_list {
        .#{$alias} {
            #{$name}: #{$item};

            &b-#{$item} {
                #{$name}-bottom: #{$item};
            }

            &t-#{$item} {
                #{$name}-top: #{$item};
            }
        }
    }

}