@use 'variables' as v;
@use 'mixins' as m;
@use 'functions' as f;
@use 'sass:map' as map;


html {
    box-sizing: border-box;
}

.container-fluid {
    width: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: v.$gray-50;
    margin: 0;
    padding: 0;
    font-family: v.$base_font, v.$backup_font;
    line-height: 1.3;
    font-size: clamp(1.00rem, calc(0.868rem + 0.658vw), 1.50rem);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
    padding: 0;
    margin: 0;
}

.wrapper {
    max-inline-size: v.$wrapper-max-width;
    margin-inline: auto;
    padding-inline: f.generate_padding_rem(6);
    border: 1px solid red;
}

// temporary only for development
.container {
    max-width: v.$container-max-width;
    margin-inline: auto;
    border: 1px solid blue;
}

.no-scroll {
    overflow: hidden;
}

h1 {
    margin: 0;
}

a {
    line-height: 0;
}

// utility classes
@each $breakpoint, $size in v.$breakpoint_map {
    .container-#{$breakpoint} {
        @include m.device-up($breakpoint) {
            width: 100%;
            max-width: calc($size - 2rem);
            margin-inline: auto;
        }
    }
}