@use 'variables' as v;
@use 'mixins' as m;
@use 'functions' as f;
@use 'sass:map' as map;


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    line-height: 1.3;
}

// utility classes
.flex {
    display: flex;

    &-justify {
        &-between {
            justify-content: space-between;
        }

        &-around {
            justify-content: space-around;
        }

        &-center {
            justify-content: center;
        }

        &-evenly {
            justify-content: space-evenly;
        }
    }

    &-align {
        &-center {
            align-items: center;
        }
    }
}

.block {
    display: block;
}

.m {
    &-1 {
        margin: f.generate_margin_rem(1);
    }

    &t {
        &-1 {
            margin-top: f.generate_margin_rem(1);
        }
    }

    &b {
        &-1 {
            margin-bottom: f.generate_margin_rem(1);
        }
    }
    &e {
        &-1 {
            margin-inline-end: f.generate_margin_rem(1);
        }
        &-2 {
            margin-inline-end: f.generate_margin_rem(2);
        }
        &-3 {
            margin-inline-end: f.generate_margin_rem(3);
        }
        &-4 {
            margin-inline-end: f.generate_margin_rem(4);
        }
        &-5 {
            margin-inline-end: f.generate_margin_rem(5);
        }
    }
}

.p {
    padding: f.generate_padding_rem(1);
}

@each $breakpoint, $size in v.$breakpoint_map {

    .hide-up-from-#{$breakpoint} {
    @include m.breakpoint-up($size) {
            display: none;
        }
    }

    .hide-down-from-#{$breakpoint} {
        @include m.breakpoint-down($size) {
            display: none;
        }
    }

    .hide-only-for-#{$breakpoint} {
        @include m.breakpoint-only($size) {
            display: none;
        }
    }
}