@use 'variables' as v;

.header {

    background-color: v.$gray-50;
    position:static;

    &__nav {
        button {
            background-color: transparent;
            border: none;
        }
    }

    &__hamburger {

        >span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: v.$gray-600;

            &:not(:last-child) {
                margin-bottom: 3px;
            }
        }
    }
}