@use 'variables' as v;
@use 'mixins' as m;
@use 'globals' as g;
@use 'functions' as f;
@use 'animations' as a;

.header {
    z-index: 1;
    background-color: v.$gray-50;
    position: sticky;
    top: 0;

    .overlay {
        position: fixed;
        inset: 54px 0 0 0;
        opacity: 0;
        visibility: hidden;
        background-image: linear-gradient(to bottom, v.$blue-950 0%, v.$gray-600 50%);
        transition: opacity 300ms ease, visibility 300ms;
        background-color: transparent;

        @include m.device-up('md') {
            display: none;
        }

        .nav__list {
            display: flex;
            flex-direction: column;
            background-color: v.$gray-50;
            margin: f.generate_margin_rem(6);
            padding-block: f.generate_padding_rem(5);
            transform: translateY(-24px);
            transition: transform 300ms ease;
            border-radius: 5px;


            a {
                display: block;
                font-weight: v.$font-weight-normal;
                color: v.$blue-950;
                font-size: large;
                text-decoration: none;
                width: 100%;
                text-align: center;
                padding-block: f.generate_padding_rem(4);
                transition: background-color 300ms ease;

                &:hover,
                &:focus {
                    text-decoration: underline;
                    background-color: v.$gray-100;
                }
            }
        }

        &--active {
            opacity: 1;
            visibility: visible;

            .nav__list {
                transform: translateY(0px);
            }

        }

    }


    &__nav {
        padding-block: f.generate_padding_rem(2);
        display: flex;
        justify-content:space-between;
        align-items: center;

        @include m.device-below('md') {
            justify-content: space-between;
            max-width: 100vw;
        }

        button {
            background-image: linear-gradient(20deg, v.$cyan-400, v.$green-500);
            border-radius: 50px;
            border: none;
            background-color: transparent;
            color: v.$gray-100;
            font-weight: v.$font-weight-normal;
            transition: opacity 300ms ease-in-out;

            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }

            @include m.device-below('md') {
                display: none;
            }
        }

        a {
            line-height: 0;
        }

        ul {

            @include m.device-below('md') {
                display: none;
            }

            padding: 0;

            li {
                list-style-type: none;
                color: v.$gray-600;
                font-size: f.multiply_rem_size_by(0.875);
                font-weight: v.$font-weight-normal;

                &:not(:last-child) {

                    margin-inline-end: f.multiply_rem_size_by(2);
                }

                a {
                    cursor: pointer;
                    text-decoration: none;
                    color: v.$gray-600;
                    text-decoration-color: white;
                    transition: border-bottom 300ms ease-in-out;

                    &:hover {
                        color: v.$blue-950;
                        border-bottom: 5px solid v.$green-500;
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }

    &__hamburger {

        &:hover {
            cursor: pointer;
        }

        @include m.device-up('md') {
            display: none;
        }

        >span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: v.$gray-600;
            transition: transform 300ms ease-in;

            &:first-child {
                transform: translateY(0px) rotate(0deg);
            }

            &:last-child {
                transform: translateY(0px) rotate(0deg);
            }

            &:not(:last-child) {
                margin-bottom: 3px;
            }
        }

        &.open {

            >span:first-child {
                transform: translateY(5px) rotate(45deg);
            }

            >span:nth-child(2) {
                transform: scaleX(0);
            }

            >span:last-child {
                transform-origin: center center;
                transform: translateY(-5px) rotate(-45deg);
            }

        }
    }
}