@use 'variables' as v;
@use 'mixins' as m;
@use 'globals' as g;

.header {

    background-color: v.$gray-50;
    position: static;

    &__nav {
        button {
            background-image: linear-gradient('bottom',v.$green-500,v.$blue-950);
            border: none;
        }

        ul {
            li {
                list-style-type: none;
                color: v.$gray-600;
                font-size:x-small;
                margin-inline-end: calc(v.$base_size_rem * 5);
            }
        }
    }

    &__hamburger {

        >span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: v.$gray-600;

            &:not(:last-child) {
                margin-bottom: 3px;
            }
        }
    }
}