@use 'variables' as v;
@use 'mixins' as m;
@use 'globals' as g;
@use 'functions' as f;
@use 'animations' as a;

.header {

    background-color: v.$cyan-400;
    position: sticky;
    top: 0;

    .overlay {

        animation: fade-out 300ms ease-in-out forwards;

        &--active {
            position: fixed;
            inset: 54px 0 0 0;
            animation: fade-in 300ms ease-in-out forwards;
            background-image: linear-gradient(to bottom, v.$blue-950 0%, v.$gray-600 80%);
        }
    }

    &__nav {

        @include m.device-below('md') {
            justify-content: space-between;
            max-width: 100vw;
        }

        button {
            background-image: linear-gradient(20deg, v.$cyan-400, v.$green-500);
            border-radius: 50px;
            border: none;
            background-color: transparent;
            color: v.$gray-100;
            font-weight: v.$font-weight-normal;
            transition: opacity 300ms ease-in-out;

            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }

            @include m.device-below('md') {
                display: none;
            }
        }

        a {
            line-height: 0;
        }

        ul {

            @include m.device-below('md') {
                display: none;
            }

            padding: 0;

            li {
                list-style-type: none;
                color: v.$gray-600;
                font-size: f.multiply_rem_size_by(0.875);
                font-weight: v.$font-weight-normal;

                &:not(:last-child) {

                    margin-inline-end: f.multiply_rem_size_by(2);
                }

                a {
                    cursor: pointer;
                    text-decoration: none;
                    color: v.$gray-600;
                    text-decoration-color: white;
                    transition: all 300ms ease-in-out;

                    &:hover {
                        color: v.$blue-950;
                        text-decoration: underline;
                        text-decoration-thickness: 5px;
                        text-decoration-color: v.$green-500;
                        text-underline-offset: 40px;
                    }
                }
            }
        }
    }

    &__hamburger {

        @include m.device-up('md') {
            display: none;
        }

        >span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: v.$gray-600;
            transition: transform 300ms ease-in;

            &:first-child {
                transform: translateY(0px) rotate(0deg);
            }

            &:last-child {
                transform: translateY(0px) rotate(0deg);
            }

            &:not(:last-child) {
                margin-bottom: 3px;
            }
        }

        &.open {

            >span:first-child {
                transform: translateY(5px) rotate(45deg);
            }

            >span:nth-child(2) {
                transform: scaleX(0);
            }

            >span:last-child {
                transform-origin: center center;
                transform: translateY(-5px) rotate(-45deg);
            }

        }
    }
}