@use 'variables' as v;
@use 'mixins' as m;
@use 'globals' as g;
@use 'functions' as f;
@use 'animations' as a;

.header {
    z-index: 5;
    background-color: v.$gray-50;
    position: sticky;
    top: 0;

    .overlay {
        position: fixed;
        inset: 4.5rem 0 0 0;
        opacity: 0;
        visibility: hidden;
        background-image: linear-gradient(to bottom, v.$blue-950 0%, v.$gray-600 50%);
        transition: opacity 300ms ease, visibility 300ms;
        background-color: transparent;

        &--open {
            opacity: 1;
            visibility: visible;
        }

        @include m.device-up('md') {
            display: none;
        }

    }


    &__nav {
        padding-block: f.generate_padding_rem(6);
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul.menu {

            z-index: 1;
            position: absolute;
            top: 100%;
            width: 90%;
            left: 50%;
            transform: translateX(-50%);
            margin-block-start: 0;
            opacity: 0;
            visibility: hidden;
            background-color: v.$gray-50;
            padding-block: f.generate_padding_rem(8);
            border-radius: 5px;
            transition: margin-block-start 300ms ease, opacity 300ms ease;

            &--open {
                visibility: visible;
                opacity: 1;
                margin-block-start: f.generate_padding_rem(6);

            }

            @include m.device-up('md') {
                display: flex;
                padding: 0;
                position: static;
                inset: 0;
                visibility: visible;
                opacity: 1;
                transform: none;
                padding: 0;
                width: auto;
                background: none;
                border: none;
            }

            li {
                list-style-type: none;
                transition: transform 300ms ease;

                @include m.device-up('md') {
                    color: v.$gray-600;
                    font-size: f.multiply_rem_size_by(0.875);
                    font-weight: v.$font-weight-normal;

                    &:not(:last-child) {

                        margin-inline-end: f.multiply_rem_size_by(1);

                        @include m.device-up('lg') {
                            margin-inline-end: f.multiply_rem_size_by(2);
                        }
                    }
                }

                a {
                    display: block;
                    font-weight: v.$font-weight-normal;
                    color: v.$blue-950;
                    font-size: large;
                    text-decoration: none;
                    text-align: center;
                    padding-block: f.generate_padding_rem(6);

                    &:hover,
                    &:focus {
                        text-decoration: underline;
                        background-color: v.$gray-100;
                    }

                    @include m.device-up('md') {
                        cursor: pointer;
                        text-decoration: none;
                        color: v.$gray-600;
                        text-decoration-color: white;
                        transition: border-bottom 300ms ease-in-out;

                        &:hover {
                            color: v.$blue-950;
                            border-bottom: 5px solid v.$green-500;
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }

        button {
            display: none;

            @include m.device-up('md') {
                display: block;
                padding-inline: f.generate_padding_rem(8);
                padding-block: f.generate_padding_rem(4);
                background-image: linear-gradient(20deg, v.$cyan-400, v.$green-500);
                border-radius: 50px;
                border: none;
                background-color: transparent;
                color: v.$gray-100;
                font-weight: v.$font-weight-normal;
                transition: opacity 300ms ease-in-out;

                &:hover {
                    cursor: pointer;
                    opacity: 0.7;
                }

            }
        }
    }

    &__hamburger {

        &:hover {
            cursor: pointer;
        }

        >span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: v.$gray-600;
            transition: transform 300ms ease-in;

            &:first-child {
                transform: translateY(0px) rotate(0deg);
            }

            &:last-child {
                transform: translateY(0px) rotate(0deg);
            }

            &:not(:last-child) {
                margin-bottom: 3px;
            }
        }

        &.hamburger--open {

            >span:first-child {
                transform: translateY(5px) rotate(45deg);
            }

            >span:nth-child(2) {
                transform: scaleX(0);
            }

            >span:last-child {
                transform-origin: center center;
                transform: translateY(-5px) rotate(-45deg);
            }

        }

        @include m.device-up('md') {
            display: none;
        }
    }
}