@use 'variables' as v;
@use 'mixins' as m;
@use 'functions' as f;

.section__hero {

    background-color: v.$gray-50;
    margin-block-start: -17vw;
    overflow: hidden;

    @include m.device-up('md') {
        margin-block-start: 0;
    }

    .hero {
        display: flex;
        flex-direction: column;

        @include m.device-up('md') {
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            border: 1px solid red;
        }

        &__img {
            margin-inline: -1.5rem;
            position: relative;

            @include m.device-up('md') {
                inset: 0;
            }

            &::before {
                content: "";
                position: absolute;
                bottom: 16vw;
                width: 100%;
                height: 100%;
                background-image: url("./../images/image-mockups.png");
                filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
                background-size: contain;
                background-repeat: no-repeat;
                background-position: right top;

                @include m.device-up('md') {
                    bottom: 0;
                }
            }

            img {
                content: url("../images/bg-intro-mobile.svg");
                object-fit: contain;
                width: 100%;

                @include m.device-up('md') {
                    border: 1px solid green;
                    position: relative;
                    content: url("../images/bg-intro-desktop.svg");
                }
            }
        }

        &__content {
            text-align: center;
            margin-inline: f.generate_margin_rem(2);
            margin-block-start: f.generate_margin_rem(-6);
            margin-block-end: f.generate_margin_rem(10);

            @include m.device-up('md') {
                text-align: start;
            }

            >* {
                margin-bottom: f.generate_margin_rem(6);
            }

            h1 {
                font-weight: v.$font-weight-normal;
                font-size: f.multiply_rem_size_by(2);
                color: v.$blue-950;
            }

            p {
                color: v.$gray-600;
                font-size: f.multiply_rem_size_by(0.7);
                font-weight: v.$font-weight-large;
            }

            button {
                display: block;
                padding-inline: f.generate_padding_rem(8);
                padding-block: f.generate_padding_rem(4);
                background-image: linear-gradient(20deg, v.$cyan-400, v.$green-500);
                border-radius: 50px;
                border: none;
                background-color: transparent;
                color: v.$gray-100;
                font-weight: v.$font-weight-normal;
                transition: opacity 300ms ease-in-out;
                margin: auto;

                &:hover {
                    cursor: pointer;
                    opacity: 0.7;
                }

                @include m.device-up('md') {
                    margin: 0;
                }
            }
        }
    }
}