@use 'variables' as v;
@use 'mixins' as m;
@use 'functions' as f;

.hero {
    background-image: url("./../images/bg-intro-mobile.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    transform: translateY(-19vw);

    img {
        filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
        max-width: 90vw;
        transform: translateY(-12%);
    }

    &__content {
        text-align: center;
        padding-block-end: f.generate_padding_rem(8);

        >* {
            margin-bottom: f.generate_margin_rem(6);
        }

        h1 {
            font-weight: v.$font-weight-normal;
            font-size: f.multiply_rem_size_by(2);
            color: v.$blue-950;
        }

        p {
            color: v.$gray-600;
            font-size: f.multiply_rem_size_by(0.75);
            font-weight: v.$font-weight-normal;
        }

        button {
            background-image: linear-gradient(20deg, v.$cyan-400, v.$green-500);
            border-radius: 50px;
            border: none;
            background-color: transparent;
            color: v.$gray-100;
            font-weight: v.$font-weight-normal;
            transition: opacity 300ms ease-in-out;

            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }
        }

    }

    // @include m.device-up('md') {

    //     background-image: url('./../images/bg-intro-desktop.svg');
    //     transform: translate(0,0);
    //     background-position: 100% top;
    //     background-size: contain;

    //     .container {

    //         display: flex;
    //         justify-content: end;
    //         align-items: end;
    //         margin: auto;
    //         overflow: hidden;

    //         .hero__img {
    //             transform: translate(20%, 6%);
    //             order: 2;
    //         }

    //         .hero__content {
    //             order: 1;

    //             h1 {
    //                 font-size: f.multiply_rem_size_by(3);
    //                 text-align: start;
    //             }

    //         }
    //     }
    // }
}