@use 'variables' as v;
@use 'mixins' as m;
@use 'functions' as f;

.section__hero {

    background-image: linear-gradient(to bottom, v.$gray-50, white);

    background-color: transparent;
    margin-block-start: -30vw;

    @include m.device-up('md') {
        margin-block-start: 0;
        // margin-block-start: -5vw;
        overflow-x: clip;

    }

    .hero {
        display: flex;
        flex-direction: column;
        position: relative;

        @include m.device-up('md') {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        &__bg {

            position: absolute;
            inset: 0;
            overflow-y: clip;
            z-index: 0;


            &::before {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 4%;
                width: 100vw;
                height: 100%;
                background-image: url("./../images/bg-intro-mobile.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center top;

                @include m.device-up('md') {
                    width: 100%;
                    background-image: url("./../images/bg-intro-desktop.svg");
                    background-size: auto 100%;
                    transform: translate(3%, -14%) scale(1.6);
                    // transform: translate(0) scale(1.3);
                }
            }
        }

        &__img {

            img {
                object-fit: contain;
                max-width: 100%;
                filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));

                @include m.device-up('md') {
                    flex: 1 0 50%;
                    transform: translate(40%, -4%) scale(1.4);
                }
            }

            @include m.device-up('md') {
                order: 2;
            }
        }

        &__content {
            text-align: center;
            margin-block-start: f.space(2);
            margin-block-end: f.space(10);
            padding-inline: f.space(2);

            @include m.device-up('md') {
                padding-inline: 0;
                margin: 0;
                flex: 1 0 50%;
                order: 1;
                text-align: start;
            }

            >* {
                margin-bottom: f.space(6);
            }

            h1 {
                font-weight: v.$font-weight-normal;
                font-size: f.multiply_rem_size_by(2);
                color: v.$blue-950;

                @include m.device-up('md') {
                    font-size: f.multiply_rem_size_by(3.5);
                }

            }

            p {
                color: v.$gray-600;
                font-size: f.multiply_rem_size_by(0.7);
                font-weight: v.$font-weight-large;

                @include m.device-up('md') {
                    font-size: f.multiply_rem_size_by(1.1);
                    font-weight: v.$font-weight-normal;
                    max-width: 80%;
                }
            }

            button {
                display: block;
                padding: f.space(3.5) f.space(8);
                background-image: linear-gradient(20deg, v.$cyan-400, v.$green-500);
                border-radius: 50px;
                border: none;
                background-color: transparent;
                color: v.$gray-100;
                font-weight: v.$font-weight-large;
                transition: opacity 300ms ease-in-out;

                &:hover {
                    cursor: pointer;
                    opacity: 0.7;
                }
            }
        }
    }
}