@use 'variables' as v;
@use 'mixins' as m;
@use 'functions' as f;

.section__hero {

    background-color: v.$gray-50;
    margin-block-start: -22vw;

    @include m.device-up('md') {
        margin-block-start: 0;
        overflow-x: clip;

    }

    .hero {
        display: flex;
        flex-direction: column;
        position: relative;

        @include m.device-up('md') {
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
        }

        &::before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 3%;
            width: 100vw;
            height: 100%;
            background-image: url("./../images/bg-intro-mobile.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center top;

            @include m.device-up('md') {
                width: 100%;
                background-image: url("./../images/bg-intro-desktop.svg");
                background-size: auto 100%;
                transform: translate(-5%,-22%) scale(1.3);
            }
        }

        &__img {

            img {
                object-fit: contain;
                max-width: 100%;
                filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));

                @include m.device-up('md') {
                    transform: translate(37%, -4%) scale(1.4);
                }
            }
        }

        &__content {
            text-align: center;
            margin-block-start: f.generate_margin_rem(2);
            margin-block-end: f.generate_margin_rem(10);
            padding-inline: f.generate_padding_rem(2);

            @include m.device-up('md') {
                text-align: start;
            }

            >* {
                margin-bottom: f.generate_margin_rem(6);
            }

            h1 {
                font-weight: v.$font-weight-normal;
                font-size: f.multiply_rem_size_by(2);
                color: v.$blue-950;
            }

            p {
                color: v.$gray-600;
                font-size: f.multiply_rem_size_by(0.7);
                font-weight: v.$font-weight-large;
            }

            button {
                display: block;
                padding-inline: f.generate_padding_rem(8);
                padding-block: f.generate_padding_rem(4);
                background-image: linear-gradient(20deg, v.$cyan-400, v.$green-500);
                border-radius: 50px;
                border: none;
                background-color: transparent;
                color: v.$gray-100;
                font-weight: v.$font-weight-normal;
                transition: opacity 300ms ease-in-out;
                margin: auto;

                &:hover {
                    cursor: pointer;
                    opacity: 0.7;
                }

                @include m.device-up('md') {
                    margin: 0;
                }
            }
        }
    }
}