@use 'variables' as v;
@use 'mixins' as m;
@use 'functions' as f;

.hero {
    background-color: v.$gray-50;

    .container {
        padding-inline: 0;
    }

    .hero__img {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("./../images/bg-intro-mobile.svg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center top;
            transform: translateY(-19vw);
        }

        img {
            filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
            max-width: 90vw;
            display: block;
            margin: auto;
            transform: translateY(-32vw);
        }
    }

    &__content {
        text-align: center;
        padding-block-end: f.generate_padding_rem(8);

        >* {
            margin-bottom: f.generate_margin_rem(6);
        }

        h1 {
            font-weight: v.$font-weight-normal;
            font-size: f.multiply_rem_size_by(2);
            color: v.$blue-950;
        }

        p {
            color: v.$gray-600;
            font-size: f.multiply_rem_size_by(0.75);
            font-weight: v.$font-weight-normal;
        }

        button {
            background-image: linear-gradient(20deg, v.$cyan-400, v.$green-500);
            border-radius: 50px;
            border: none;
            background-color: transparent;
            color: v.$gray-100;
            font-weight: v.$font-weight-normal;
            transition: opacity 300ms ease-in-out;

            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }
        }

    }

    @include m.device-up('md') {

        .container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: start;
            padding-inline-start: f.generate_padding_rem(6);

        }

        .hero__img {
            overflow: hidden;

            flex: 1.5 1 0;

            &::before {
                background-image: url('./../images/bg-intro-desktop.svg');
                background-repeat: no-repeat;
                background-position: left bottom;
                background-size: cover;
                transform: translate(5%, -25%);

            }

            img {
                max-width: 90%;
                transform: translate(23%, -17%);
            }
        }

        .hero__content {
            // transform: translate(0, -35%);
            align-self: self-start;
            margin-top: 120px;
            flex: 1 1 0;
            text-align: start;

            h1 {
                font-size: f.multiply_rem_size_by(3);
            }

            p {
                font-size: f.multiply_rem_size_by(1.2);
            }
        }
    }
}