@use 'functions' as f;
@use 'variables' as v;
@use 'sass:map' as map;
@use 'sass:list' as list;

// give breakpoint from size and up
@mixin breakpoint-up($size) {

    @media (min-width: #{$size}) {
        @content;
    }

}

// give breakpoint till size and down
@mixin breakpoint-down($size) {

    @media (max-width : ($size - v.$minute_space_difference)) {
        @content;
    }

}


// this is not needed currently
// @mixin breakpoint-between($min_breakpoint, $max_breakpoint) {
//     @media (min-width : #{$min_breakpoint}) and (max-width: ($max_breakpoint)) {
//         @content
//     }

// }

// give breakpoint between size and next size
@mixin breakpoint-only($size) {
    $sizes : map.values(v.$breakpoint_map);
    $index : list.index($sizes, $size);

    @if $index < list.length($sizes) {
        $next_size : list.nth($sizes, $index+1);

        @media (min-width : #{$size}) and (max-width: ($next_size - v.$minute_space_difference)) {
            @content;
        }
    }

}

// apply style from device till up
@mixin device-up($device) {
    @media (min-width:map.get(v.$breakpoint_map, $device)) {
        @content;
    }
}

// apply style from device till down
@mixin device-below($device) {
    @media (max-width:calc(map.get(v.$breakpoint_map, $device) - v.$minute_space_difference)) {
        @content;
    }
}

// apply style between devices
@mixin device-between($start_device, $end_device) {
    @media (min-width:map.get(v.$breakpoint_map, $device)) and (max-width:calc(map.get(v.$breakpoint_map, $device) - v.$minute_space_difference)) {
        @content;
    }
}