@use 'sass:map' as map;

// colors
$blue-950: hsl(233, 26%, 24%);
$green-500: hsl(136, 64%, 51%);
$cyan-400: hsl(192, 69%, 51%);
$gray-600: hsl(233, 8%, 62%);
$gray-100: hsl(220, 16%, 96%);
$gray-50: hsl(0, 0%, 98%);
$white: hsl(0, 100%, 100%);

// base size in rem
$base_size_rem : 0.25rem;

// breakpoints for responsive website
$breakpoint_map : ('sm':40rem, 'md':48rem, 'lg':64rem, 'xl':80rem, '2xl':96rem)