@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100..900&display=swap");
html {
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: hsl(0, 0%, 98%);
  margin: 0;
  padding: 0;
  font-family: "Public Sans", "sans-serif";
  line-height: 1.3;
  font-size: clamp(1rem, 0.868rem + 0.658vw, 1.5rem);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
figure {
  margin: 0;
  padding: 0;
  padding-block: 0;
  padding-inline: 0;
  margin-block: 0;
  margin-inline: 0;
}

.wrapper {
  max-inline-size: 1160px;
  margin-inline: auto;
  padding-inline: 1.5rem;
  text-align: center;
}
@media (min-width: 768px) {
  .wrapper {
    text-align: start;
  }
}

.container {
  max-width: 1440px;
  margin-inline: auto;
}

.no-scroll {
  overflow: hidden;
}

a {
  line-height: 0;
}

@media (min-width: 480px) {
  .container-sm {
    width: 100%;
    max-width: calc(480px - 2rem);
    margin-inline: auto;
  }
}

@media (min-width: 768px) {
  .container-md {
    width: 100%;
    max-width: calc(768px - 2rem);
    margin-inline: auto;
  }
}

@media (min-width: 1024px) {
  .container-lg {
    width: 100%;
    max-width: calc(1024px - 2rem);
    margin-inline: auto;
  }
}

@media (min-width: 1280px) {
  .container-xl {
    width: 100%;
    max-width: calc(1280px - 2rem);
    margin-inline: auto;
  }
}

@media (min-width: 1536px) {
  .container-2xl {
    width: 100%;
    max-width: calc(1536px - 2rem);
    margin-inline: auto;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.header {
  z-index: 5;
  background-color: white;
  position: sticky;
  top: 0;
}
.header__overlay {
  position: fixed;
  inset: 4.5rem 0 0 0;
  opacity: 0;
  visibility: hidden;
  background-image: linear-gradient(to bottom, hsl(233, 26%, 24%) 0%, hsl(233, 8%, 62%) 50%);
  transition: opacity 300ms ease, visibility 300ms;
  background-color: transparent;
}
.header__overlay--open {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 768px) {
  .header__overlay {
    display: none;
  }
}
.header__nav {
  padding-block: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .header__nav {
    padding-block: 0;
  }
}
.header__nav button {
  display: none;
}
@media (min-width: 768px) {
  .header__nav button {
    display: block;
    padding: 0.875rem 2rem;
    background-image: linear-gradient(20deg, hsl(192, 69%, 51%), hsl(136, 64%, 51%));
    border-radius: 50px;
    border: none;
    background-color: transparent;
    color: hsl(220, 16%, 96%);
    font-weight: 700;
  }
  .header__nav button:hover {
    cursor: pointer;
    background-image: linear-gradient(20deg, hsl(192, 69%, 71%), hsl(136, 64%, 71%));
  }
}
.header__menu {
  z-index: 1;
  position: absolute;
  top: 100%;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  margin-block-start: 0;
  opacity: 0;
  visibility: hidden;
  background-color: hsl(0, 0%, 98%);
  padding-block: 2rem;
  border-radius: 5px;
  transition: margin-block-start 300ms ease, opacity 300ms ease;
}
.header__menu--open {
  visibility: visible;
  opacity: 1;
  margin-block-start: 1.5rem;
}
@media (min-width: 768px) {
  .header__menu {
    display: flex;
    padding: 0;
    position: static;
    inset: 0;
    visibility: visible;
    opacity: 1;
    transform: none;
    width: auto;
    background: none;
    border: none;
  }
}
.header__menu li {
  list-style-type: none;
  transition: transform 300ms ease;
}
@media (min-width: 768px) {
  .header__menu li {
    color: hsl(233, 8%, 62%);
    font-size: 0.875rem;
    font-weight: 400;
  }
  .header__menu li:not(:last-child) {
    margin-inline-end: 1rem;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .header__menu li:not(:last-child) {
    margin-inline-end: 2rem;
  }
}
.header__menu li a {
  cursor: pointer;
  display: block;
  font-weight: 400;
  color: hsl(233, 8%, 62%);
  font-size: small;
  text-decoration: none;
  padding-block: 1.5rem;
}
@media (min-width: 768px) {
  .header__menu li a {
    text-decoration: none;
    background-image: linear-gradient(to right, hsl(192, 69%, 51%), hsl(136, 64%, 51%));
    background-position: 0 75px;
    background-repeat: no-repeat;
    background-size: 100% 0px;
    transition: background-size 300ms ease-in;
    padding-block: 2.5rem;
  }
}
.header__menu li a:hover, .header__menu li a:focus {
  color: hsl(233, 26%, 24%);
  text-decoration: underline;
  background-color: hsl(220, 16%, 96%);
}
@media (min-width: 768px) {
  .header__menu li a:hover, .header__menu li a:focus {
    text-decoration: none;
    background-color: transparent;
    background-size: 100% 5px;
  }
}
.header__hamburger:hover {
  cursor: pointer;
}
.header__hamburger > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: hsl(233, 8%, 62%);
  transition: transform 300ms ease-in;
}
.header__hamburger > span:first-child {
  transform: translateY(0px) rotate(0deg);
}
.header__hamburger > span:last-child {
  transform: translateY(0px) rotate(0deg);
}
.header__hamburger > span:not(:last-child) {
  margin-block-end: 3px;
}
.header__hamburger--open > span:first-child {
  transform: translateY(5px) rotate(45deg);
}
.header__hamburger--open > span:nth-child(2) {
  transform: scaleX(0);
}
.header__hamburger--open > span:last-child {
  transform-origin: center center;
  transform: translateY(-5px) rotate(-45deg);
}
@media (min-width: 768px) {
  .header__hamburger {
    display: none;
  }
}

.section__hero {
  background-image: linear-gradient(to bottom, hsl(0, 0%, 98%), white);
  background-color: transparent;
  margin-block-start: -30vw;
}
@media (min-width: 768px) {
  .section__hero {
    margin-block-start: 0;
    overflow-x: clip;
  }
}
.section__hero .hero {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 768px) {
  .section__hero .hero {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.section__hero .hero__bg {
  position: absolute;
  inset: 0;
  overflow-y: clip;
  z-index: 0;
}
.section__hero .hero__bg::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 4%;
  width: 100vw;
  height: 100%;
  background-image: url("./../images/bg-intro-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}
@media (min-width: 768px) {
  .section__hero .hero__bg::before {
    width: 100%;
    background-image: url("./../images/bg-intro-desktop.svg");
    background-size: auto 100%;
    transform: translate(3%, -14%) scale(1.6);
  }
}
.section__hero .hero__img img {
  object-fit: contain;
  max-width: 100%;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}
@media (min-width: 768px) {
  .section__hero .hero__img img {
    flex: 1 0 50%;
    transform: translate(40%, -4%) scale(1.4);
  }
}
@media (min-width: 768px) {
  .section__hero .hero__img {
    order: 2;
  }
}
.section__hero .hero__content {
  margin-block-start: 0.5rem;
  margin-block-end: 2.5rem;
  padding-inline: 0.5rem;
  z-index: 2;
}
@media (min-width: 768px) {
  .section__hero .hero__content {
    padding-inline: 0;
    margin-block-end: 2.5rem;
    flex: 1 0 50%;
    order: 1;
    text-align: start;
  }
}
.section__hero .hero__content > * {
  margin-block-end: 1.5rem;
}
.section__hero .hero__content h1 {
  font-weight: 400;
  font-size: 2rem;
  color: hsl(233, 26%, 24%);
}
@media (min-width: 768px) {
  .section__hero .hero__content h1 {
    font-size: 3.5rem;
  }
}
.section__hero .hero__content p {
  color: hsl(233, 8%, 62%);
  font-size: 0.7rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .section__hero .hero__content p {
    font-size: 1.1rem;
    font-weight: 400;
    max-width: 80%;
  }
}
.section__hero .hero__content button {
  display: block;
  padding: 0.875rem 2rem;
  background-image: linear-gradient(20deg, hsl(192, 69%, 51%), hsl(136, 64%, 51%));
  border-radius: 50px;
  border: none;
  background-color: transparent;
  color: hsl(220, 16%, 96%);
  font-weight: 700;
  margin: auto;
}
.section__hero .hero__content button:hover {
  cursor: pointer;
  background-image: linear-gradient(20deg, hsl(192, 69%, 71%), hsl(136, 64%, 71%));
}
@media (min-width: 768px) {
  .section__hero .hero__content button {
    margin: 0;
  }
}

.section__feature {
  background-color: hsl(220, 16%, 96%);
  padding-inline: 0.25rem;
  padding-block: 4rem;
}
.section__feature .feature__title {
  font-size: 2rem;
  font-weight: 300;
  margin-block-end: 1.125rem;
}
@media (min-width: 768px) {
  .section__feature .feature__title {
    font-size: 3rem;
  }
}
.section__feature .feature__description {
  font-size: 0.7rem;
  font-weight: 700;
  margin-block-end: 0.75rem;
  color: hsl(233, 8%, 62%);
}
@media (min-width: 768px) {
  .section__feature .feature__description {
    font-size: 1.1rem;
    font-weight: 400;
    max-width: 60%;
    margin-block-end: 1.5rem;
  }
}
.section__feature .feature__content {
  display: grid;
  padding-inline: 0.25rem;
}
@media (min-width: 1024px) {
  .section__feature .feature__content {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.75rem;
  }
}
@media (min-width: 1280px) {
  .section__feature .feature__content {
    grid-template-columns: repeat(4, 1fr);
  }
}
.section__feature .feature__content .card {
  margin-block-start: 2.25rem;
}
.section__feature .feature__content .card__image {
  margin-block-end: 2.5rem;
}
@media (min-width: 768px) {
  .section__feature .feature__content .card__image {
    margin-block-end: 2rem;
  }
}
.section__feature .feature__content .card__title {
  font-size: 1.4rem;
  font-weight: 300;
  margin-block-end: 1.5rem;
}
@media (min-width: 768px) {
  .section__feature .feature__content .card__title {
    font-size: 1.6rem;
    min-height: 4rem;
    margin-block-end: 0.5rem;
  }
}
.section__feature .feature__content .card__description {
  font-size: 0.7rem;
  font-weight: 700;
  color: hsl(233, 8%, 62%);
}
@media (min-width: 768px) {
  .section__feature .feature__content .card__description {
    font-size: 0.97rem;
    line-height: 1.7;
    font-weight: 400;
    margin-block-end: 1.5rem;
  }
}

.section__article {
  background-image: linear-gradient(to bottom, white, hsl(0, 0%, 98%));
  background-color: transparent;
  padding-inline: 0.25rem;
  padding-block: 2.5rem;
}
.section__article .article__title {
  font-size: 2rem;
  font-weight: 300;
  margin-block-end: 3rem;
}
@media (min-width: 768px) {
  .section__article .article__title {
    font-size: 3rem;
  }
}
.section__article .article__content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.section__article .article__content .card {
  background-color: white;
  border-radius: 5px;
  padding-block-end: 1.25rem;
  overflow: hidden;
  margin-block-end: 1rem;
  text-align: start;
  flex: 0 0 100%;
}
@media (min-width: 1024px) {
  .section__article .article__content .card {
    margin-block-end: 2rem;
    flex: 0 0 calc(50% - 0.75rem);
  }
}
@media (min-width: 1280px) {
  .section__article .article__content .card {
    flex: 0 0 calc(25% - 1.25rem);
  }
}
.section__article .article__content .card > :not(img) {
  padding-inline: 1rem;
}
.section__article .article__content .card img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}
.section__article .article__content .card__author {
  font-size: 0.5rem;
  margin-block: 1rem;
  color: hsl(233, 8%, 62%);
}
.section__article .article__content .card__title {
  font-size: 0.85rem;
  font-weight: 300;
  margin-block-end: 0.5rem;
}
@media (min-width: 768px) {
  .section__article .article__content .card__title {
    font-size: 1rem;
  }
}
.section__article .article__content .card__title:hover {
  cursor: pointer;
  color: color-mix(in srgb, hsl(136, 64%, 51%) 50%, hsl(192, 69%, 51%) 50%);
}
.section__article .article__content .card__description {
  font-size: 0.7rem;
  font-weight: 400;
  color: hsl(233, 8%, 62%);
}
@media (min-width: 768px) {
  .section__article .article__content .card__description {
    font-size: 0.9rem;
  }
}

.footer {
  background-color: hsl(233, 26%, 24%);
  padding-block: 1.75rem;
}
@media (min-width: 768px) {
  .footer {
    padding-block: inherit;
  }
}
.footer__nav {
  padding-block: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__nav {
    padding-block: 2.5rem;
    justify-content: space-between;
    flex-direction: row;
  }
}
.footer__links {
  margin-block-start: 1.5rem;
}
@media (min-width: 768px) {
  .footer__links {
    margin-block-start: 2.5rem;
  }
}
.footer__links > a {
  margin-inline: 5px;
}
.footer__menu {
  margin-block: 1.5rem;
}
@media (min-width: 768px) {
  .footer__menu {
    margin-block: 0;
    margin-inline-end: 13.75rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    column-gap: 7.5rem;
    text-align: start;
  }
}
.footer__menu li {
  list-style-type: none;
}
@media (min-width: 768px) {
  .footer__menu li {
    color: hsl(0, 0%, 98%);
    font-size: 0.875rem;
    font-weight: 400;
  }
  .footer__menu li:not(:last-child) {
    margin-inline-end: 1rem;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .footer__menu li:not(:last-child) {
    margin-inline-end: 2rem;
  }
}
.footer__menu li a {
  cursor: pointer;
  display: block;
  font-weight: 400;
  color: hsl(220, 16%, 96%);
  font-size: small;
  text-decoration: none;
  padding-block: 1rem;
}
.footer__menu li a:hover, .footer__menu li a:focus {
  color: hsl(136, 64%, 51%);
  opacity: 0.7;
  text-decoration: underline;
}
@media (min-width: 768px) {
  .footer__menu li a:hover, .footer__menu li a:focus {
    text-decoration: none;
  }
}
.footer__cta button {
  display: block;
  padding: 0.875rem 2rem;
  background-image: linear-gradient(20deg, hsl(192, 69%, 51%), hsl(136, 64%, 51%));
  border-radius: 50px;
  border: none;
  background-color: transparent;
  color: hsl(220, 16%, 96%);
  font-weight: 700;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .footer__cta button {
    margin-inline-end: 0;
  }
}
.footer__cta button:hover {
  cursor: pointer;
  background-image: linear-gradient(20deg, hsl(192, 69%, 71%), hsl(136, 64%, 71%));
}
.footer__cta p {
  color: hsl(233, 8%, 62%);
  font-size: 0.8rem;
  margin-block-start: 1.5rem;
}
@media (min-width: 768px) {
  .footer__cta p {
    margin-inline-start: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
